body {
  background: gray;
}
.top {
  border: 1px;
  border-radius: 10px;
  background: white;
  width: 720px;
  height: 150px;
    margin: auto;
}
.logo {
  margin-left: 5px;
  padding-top: 10px;
}
h1 {
  position: relative;
  text-align: center;
  bottom: 80px;
  
}
#middle {
  border: 1px;
  border-radius: 10px;
  background: white;
  width: 720px;
  height: 80px;
    margin: auto;
    position: relative;
    bottom: 17px;
}
#lowland {
  border: 1px;
  border-radius: 10px;
  background: white;
  width: 720px;
  height: 40px;
    margin: auto;
    position: relative;
    bottom: 17px;
}
.con {
  position: relative;
  left: 300px;
}
ul, li {
    margin:0;
    padding:0;
    list-style-type:none;
  }
  #menu {
    display:block;
    position:absolute;
    top:130px;
    left:615px;
     
  }
  #menu > li {
    display:inline-block;
    height:20px;
    position:relative;
  }
  #menu > li > ul {
    position:absolute;
    top:20px;
    display:none; 

  }
  #menu > li:hover > ul {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    background: white;
    display:block; 
    z-index: 9; 
    color: blue;
  }
 